*{
    margin: 0;
    padding: 0;
}
header{
    height: 18%;
    width: 100%;
    background-color: #233956;

}
main{
    
    height: 100%;
    width: 100%;
    /* background: linear-gradient(to bottom, #233956 0%, #4C7CBC 100%); */
   
}
footer{
    height: 15%;
    width: 100%;
    background-color: #4C7CBC;
}
html, body{
    height: 100%;
    
    background-image: url(Desktop\ -\ 3.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.logo{
    width: 20%;
    height: 15%;
    background-color: aqua;
    border-radius: 50px / 50px;    
    background: linear-gradient(to bottom, #60B9DC 0%, #336376 -200%);
    background-size: 200% 100%;
    position: absolute;
    top: 1%;
    left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36pt;
    
}

.find{
    width: 45.9%;
    height: 6%;
    background-color: #D0CCCC;
    border-radius: 20px / 20px;
    position: absolute;
    top: 3%;
    left: 27.1%;
    /*border-style: solid;
    border-width: 2px;*/
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    font-size: xx-large;
}

.login{
    width: 10%;
    height: 6%;
    background-color: #60B9DC;
    border-radius: 50px / 50px;
    background: linear-gradient(to bottom, #60B9DC 0%, #336376 -200%);
    background-size: 200% 100%;
    position: absolute;
    top: 4.5%;
    left: 88%;
    /*border-style: solid;
    align-items: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.footer-context{
    display: flex;
    justify-content:space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}

.bot{
    color: white;
}

.login_top{
    width: 34.6%;
    height: 11.9%;
    border-radius: 30px / 30px;
    background-color: rgb(96,185,220,0.49);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 73px;
    top: 28.8%;
    left: 33.7%;
}

.login_win{
    width: 33.4%;
    height: 47.4%;
    border-radius: 30px / 30px;
    background: linear-gradient(to bottom, rgb(96,185,220,0.49) 0%, rgb(0,0,253,0.2) 100%);
    background-size: 200% 100%;
    position: absolute;
    display: flex;
    top: 42.3%;
    left: 34.3%;
}

.button_enter{
    width: 22%;
    height: 6%;
    background-color: #5E8CDB;
    border-radius: 15px / 15px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    top: 70.3%;
    left: 40.6%;
}